.grid_1 {
  width: 60px;
}
.grid_1 p {
  background-color: #000000;
  color: #fe0000;
}
.grid_2 {
  width: 136px;
}
.grid_2 p {
  background-color: #ffff01;
  color: #000000;
}
.grid_3 {
  width: 212px;
}
.grid_3 p {
  background-color: #808080;
  color: #000000;
}
.grid_4 {
  width: 288px;
}
.grid_4 p {
  background-color: #008001;
  color: #fffeff;
}
.grid_5 {
  width: 364px;
}
.grid_6 {
  width: 440px;
}
.grid_6 p {
  background-color: #ff00ff;
  color: #01ffff;
}
.grid_7 {
  width: 516px;
}
.grid_8 {
  width: 592px;
}
.grid_8 .grid_8 p {
  background-color: #01ffff;
  color: #008001;
}
.grid_9 {
  width: 668px;
}
.grid_9 p {
  background-color: #ff6448;
  color: #01ffff;
}
.grid_10 {
  width: 744px;
}
.grid_11 {
  width: 820px;
}
.grid_11 p {
  background-color: #fe0000;
  color: #000000;
}
.grid_12 {
  width: 896px;
}
.grid_12 p {
  background-color: #000000;
  color: #ffff01;
}
.column {
  margin: 0 8px;
  overflow: hidden;
  float: left;
  display: inline;
}
.row {
  width: 912px;
  margin: 0 auto;
  overflow: hidden;
}
.row .row {
  margin: 0 -8px;
  width: auto;
  display: inline-block;
}
.row p {
  font: 60px/100px Helvetica;
  text-align: center;
  margin: 0 0 20px 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: solid 1px #000000;
}
.eightcol {
  background-color: #01ffff;
  color: #008001;
}
.fourcol {
  background-color: #008001;
  color: #fffeff;
}
.twocol {
  background-color: #ffff01;
  color: #000000;
}
.sixcol {
  background-color: #ff00ff;
  color: #01ffff;
}
.threecol {
  background-color: #808080;
}
.threecol {
  background-color: #ff6448;
}
